<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TEST</title>
</head>
<body>
<form name="person">
    <input name="name">
    <input name="surname">
    <input name="age">
</form>
<button id="ny">CLICK</button>
</body>

<script>
    // GET
    // fetch('http://127.0.0.1:8000/new')
    //     .then(response => response.text())
    //     .then(tx => alert(tx))

    // let formData = new FormData(document.forms.person);
    // alert(formData.values())
    // POST

    // function btn_work()
    // {
    //     let ava = new FormData(document.forms.person)
    //     let response = fetch('http://127.0.0.1:8000/add_new_user', {
    //       method: 'POST',
    //       body: ava
    //     });
    //     console.log(ava.values())
    // }
    // btn1 = document.getElementById('ny');
    // btn1.addEventListener('click', btn_work)

    fetch('http://127.0.0.1:8000/get_info_all_users')
    .then(response => response.json())
    .then(tx => console.log(tx))

    // fetch('http://127.0.0.1:8000/pic')
    // .then(response => response)
    // .then(tx => tx)
</script>